<h2>JavaScript Supported Web Scraping using Perl and Selenium with Google ChromeDriver</h2>

<img src="https://perlclub.net/images/corporate/perl_club_company_logo.png">

<a href="https://perlclub.net/en">Perl Club</a> starts to translate Japanese Perl Tutorial to English. Yuki Kimoto is one of the Perl Messengers.

Perl Club decides to write all articles English at first.

This is a first English-first article. 

If you want to scrape web contents, this article explains how to scrape web contents using Perl and Selenium.

<blockquote>
<a href="https://en.perlzemi.com/blog/20211119124656.html">JavaScript Supported Web Scraping using Perl and Selenium</a>

<br>

I explain JavaScript supported web scraping using Perl and Selenium::Remote::Driver. Selenium::Remote::Driver is a Perl module for Selenium. Selenium provides the APIs for JavaScript supported web scraping.

</blockquote>
