<!-- side -->
<div style="text-align:center">
  <img src="/images/kimoto.jpg" style="width:180px;">
  <div style="font-weight:bold;margin-bottom:10px;">
    I'm Yuki Kimoto, one of the Perl Messagers.
  </div>
</div>

<div class="side_list">
  <div class="side_list_title">
    News
  </div>
  <ul>
    <li><a href="/list.html">News</a></li>
  </ul>
</div>

<div style="text-align:center">
  <div>
    <a href="https://perlclub.net/en"><img src="https://perlclub.net/images/corporate/perl_club_company_logo.png"></a>
  </div>
</div>
